<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Projektilistaus</title>
</head>
<body>
    <div class="container">
        <h1>Projektilistaus</h1>
        <table>
            <thead>
                <tr>
                    <th>Projektitunnus</th>
                    <th>Projektinimi</th>
                    <th>Poistomenetelmä</th>
                    <th>Toiminnot</th>
                </tr>
            </thead>
            <tbody>
                {% if projects %}
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.project_id }}</td>
                            <td>{{ project.project_name }}</td>
                            <td>{{ project.project_depreciation_method }}</td>
                            <td>
                                <a href="{{ url_for('cashflow_project', project_id=project.project_id) }}" target="_blank">Projektin kassavirrat</a>
                                <a href="{{ url_for('delete_project', project_id=project.project_id) }}">
                                    <button>Projektin poistaminen</button>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Ei projekteja tietokannassa</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <p><a href="{{  url_for('main_layout') }}">Takaisin pääsivulle</a></p>
</body>
</html>