<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <title>Projektilistaus</title>
</head>
<body>
    <div class="container">
        <h1>Projektilistaus</h1>
        <form method="GET" action="{{ url_for('list_projects') }}">
            <input type="text" name="project_name" placeholder="Hae projektin nimi" value="{{ request.args.get('project_name', '') }}">
            <input type="text" name="project_type" placeholder="Hae projektityyppi" disabled>
            <input type="text" name="depreciation_method" placeholder="Hae poistomenetelmä" disabled>
            <button type="submit">Hae</button>
             <a href="{{ url_for('list_projects') }}"><button type="button">Näytä kaikki</button></a>
        </form>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul style="color: green;">
                  {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <table>
            <thead>
                <tr>
                    <th>Projektitunnus</th>
                    <th>Projektinimi</th>
                    <th>Määrittelyt</th>
                    <th>Luonut</th>
                    <th>Muutokset</th>
                    <th>Toiminnot</th>
                </tr>
            </thead>
            <tbody>
                {% if projects %}
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.project_id }}</td>
                            <td>{{ project.project_name }}</td>
                            <td>
                                {% if project.definitions %}
                                    <ul>
                                    {% for title, value in project.definitions.items() %}
                                        <li><strong>{{ title }}:</strong> {{ value if value is string else value | join(", ") }}</li>
                                    {% endfor %}
                                    </ul>
                                {% else %}
                                    Ei määrittelyjä
                                {% endif %}
                            </td>
                            <td>{% if project.created %}
                                <strong>Käyttäjä:</strong> {{ project.created.user }}<br>
                                <strong>Aika:</strong> {{ project.created.time }}
                                {% else %}
                                    Ei tietoa
                                {% endif %}
                            </td>
                            <td>{% if project.changes %}
                            <div style="width: 200px; height: 100px; overflow-y: auto; border: 1px solid #ccc; padding: 5px;">
                                <ul style="margin: 0; padding-left: 20px;">
                                    {% for change in project.changes %}
                                    <li>
                                        <strong>{{ change.user }}</strong> – {{ change.time }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                                {% else %}
                                    Ei muutoksia
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ url_for('cashflow_project', project_id=project.project_id) }}">
                                    <button>Projektin kassavirrat</button>
                                </a>
                                <a href="{{ url_for('edit_project', project_id=project.project_id) }}">
                                    <button>Projektin tietojen muuttaminen</button>
                                </a>
                                <a href="{{ url_for('delete_project', project_id=project.project_id) }}">
                                    <button>Projektin poistaminen</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4">Ei projekteja tietokannassa</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
    <p><a href="{{ url_for('main_layout') }}">Takaisin pääsivulle</a></p>
</body>
</html>