<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
  <form action="/login" method="post">
    <p>
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        <label for="username">Käyttäjätunnus</label>: <br />
        <input type="text" name="username" id="username" />
    </p>
    <p>
        <label for="password">Salasana</label>: <br />
        <input type="password" name="password" id="password" />
    </p>
    <input type="submit" value="Kirjautuminen" />
  </form>

  <p>Luo tunnus<a href="{{ url_for('register') }}">Luo uusi käyttäjä</a></p>
</body>
</html>