<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <h1>Päävalikko</h1>
    <p>
        Olet kirjautunut käyttäjätunnuksella {{  session.username }}
    </p>
    
    <p>
        <a href="{{ url_for('new_project') }}">Lisää uusi projekti</a>
    </p>

    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% endif %}
    <p>
        <a href="{{ url_for('list_projects') }}">Hae projektilistaus</a>
    </p>
    
    <p>
        <a href="{{ url_for('register') }}">Luo uusi käyttäjä</a>
    </p>
    
    <p>
        <a href="{{ url_for('logout') }}">Kirjaudu ulos</a>
    </p>

</body>
</html>