<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    <h1>Uuden projektin lisäys</h1>

    <form action="{{  url_for('new_project') }}" method="POST">
        <p>
            Projektitunniste: <br />
            <input type="text" value="{{  next_id }}" readonly>
        </p>
        <p>
            Projektinimi: <br />
            <input type="text" name="project_name" required>
        </p>
        <p>
            Poistomenetelmä (luokka): <br/>
            <input type="text" name="project_depreciation_method" required>
        </p>
        <button type="submit">Tallenna tiedot</button>
    </form>
    <p><a href="{{  url_for('main_layout') }}">Takaisin pääsivulle</a></p>
</body>
