<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

{% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul style="color: red;">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

<body>
  <form action="/create" method="post" autocomplete="off">
    <p>
      Tunnus: <br />
      <input type="text" name="username" value=""  autocomplete="new-username"/>
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" value="" autocomplete="new-password"/>
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" value="" autocomplete="new-password"/>
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</body>

</html>